$tablet-width: 900px;
$mobile-width: 600px;
$primary: #4990e2;
$primary-darken: #006280;
$primary-dark: #414042;
$primary-light: rgba(99, 202, 225, 0.1);
$creme: #fbfaf8;
$gray: #414042;
$black: #555555;
$base-font: 'Montserrat Light', sans-serif;
$thin-font: 'Montserrat Thin', sans-serif;
$heading-font: 'Raleway SemiBold', sans-serif;
$bold-font: 'Raleway ExtraBold', sans-serif;
$regular-font: 'OpenSans Regular', sans-serif;
$medium-font: 'Raleway Meduim', sans-serif;
$heading-font-size: 30px;
$base-font-size: 16px;
$small-font-size: 14px;
$big-font-size: 20px;
$base-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
