$tablet-width: 900px;
$mobile-width: 600px;
$primary: #00a0d2;
$primary-darken: #006280;
$primary-dark: #362f2d;
$primary-light: #c7b299;
$creme: #fbfaf8;
$gray: #414042;
$black: #555555;
$base-font: 'Montserrat Light', sans-serif;
$thin-font: 'Montserrat Thin', sans-serif;
$heading-font: 'Raleway SemiBold', sans-serif;
$bold-font: 'Raleway ExtraBold', sans-serif;
$regular-font: 'Raleway Regular', sans-serif;
$medium-font: 'Raleway Meduim', sans-serif;
$heading-font-size: 30px;
$base-font-size: 16px;
$small-font-size: 14px;
$big-font-size: 20px;
